body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#payment-form {
    margin-top: 50px;
}

input[type="number"], button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
